input[type=radio]{
    height: 27px;
    width: 27px;
}

.list-group-item{
    font-size: 25px;
}
.list-inline {
	display: inline;
	}
.list-inline li {
    display: inline;
}
.displayed {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto }

